@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*, 
*::before, 
*::after {
  box-sizing: border-box;
}
html {
  font-family: 'Girassol', cursive;
  text-align: center;
  min-height: 100vh;
  min-width: 24em;
}
.clock img {
  width: 22rem;
  height: 22rem;
}