@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

html {
  font-family: "Girassol", cursive;
  background-color: floralwhite;
  text-align: center;
  min-height: 100vh;
  min-width: 24em;
}
body {
  margin: 0;
  display: grid;
}
.clock {
  width: 30rem;
  height: 30rem;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}
.clock:after {
  content: "";
  position: absolute;
  background: #fff;
  border: 1.5px solid #000;
  border-radius: 1em;
  width: 0.5em;
  height: 0.5em;
  left: 49%;
  top: 46%;
}
.weekday:before {
  content: attr(data-text);
  position: absolute;
  background: #fffaf0;
  border: 1.5px solid #000;
  border-radius: 1em;
  width: 8em;
  height: 1.5em;
  left: 38%;
  top: 25%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  box-shadow: rgb(51 51 51) 2px 2px 3px 0px inset,
    rgb(255 255 255 / 50%) -3px -3px 6px 1px inset,
    rgb(51 51 51) -2px 2px 3px 0px inset;
}
.clock-face {
  position: relative;
  height: 100%;
}
.hand {
  width: 50%;
  position: absolute;
  top: -48%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.seconds-hand {
  height: 1.5px;
  border-radius: 0.5em;
  background: red;
  width: 12em;
  left: 10%;
  top: -47.8%;
  transform: rotate(270deg);
}
.seconds-hand:after {
  content: "";
  position: absolute;
  background: red;
  width: 10.5em;
  height: 0.25em;
  top: -0.05em;
  left: 25px;
}
.seconds-hand:before {
  content: "";
  position: absolute;
  background: red;
  width: 0.5em;
  height: 0.5em;
  top: -0.2em;
  border-radius: 0.5em;
  left: 1.25em;
}
.minute-hand {
  height: 6px;
  background: #000;
  width: 10.5em;
  left: 15%;
  top: -48.2%;
  transform: rotate(360deg);
}
.hour-hand {
  height: 6px;
  background: #000;
  width: 7em;
  left: 26.7%;
  top: -48.2%;
  transform: rotate(90deg);
}
.minute-hand:before,
.hour-hand:before {
  content: "";
  border: 6px solid #000;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  position: absolute;
  bottom: -3px;
  left: -10px;
}
